server:
  port: 8080

spring:
  sql:
    init:
      mode: always
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
          lob:
            non_contextual_creation: true

  datasource:
    url: jdbc:postgresql://localhost:5438/shareitdb
    username: dbuser
    password: 12345
    driver-class-name: org.postgresql.Driver

logging:
  level:
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: DEBUG
      transaction:
        interceptor: TRACE
        transaction.interceptor: TRACE